Repository db1group/contra-covid19, pull requests merged in 2020-04, with the labels that each got.

#109 Criação da exportação de notificação para excel #81
  backend/package.json
  backend/src/resource/gera-excel-resource.js
  backend/src/resource/notificacao-exportacao-excel-resource.js
  backend/src/routes/notificacao-gera-excel-route.js
  backend/yarn.lock
Labels: Back, Versão 1

#129 Não estava retornando a mensagem de validação
  backend/src/validations/i18n.js
  backend/src/validations/validate.js
Labels: bug

#128 Feature/criar campo notificao.municipio id closes 83
  backend/src/db/migrations/20200420202513-criar-campo-notificacao-municipioId.js
  backend/src/mapper/notificacao-mapper/model-para-response.js
  backend/src/mapper/notificacao-mapper/request-para-model.js
  backend/src/models/notificacao.js
  backend/src/resource/notificacao-resource.js
  frontend/package-lock.json
Labels: Back

#172 Feature/terraform
  .gitignore
  backend/Dockerfile
  frontend/Dockerfile
  terraform/stage-prod/terraform.tfvars
  terraform/stage-qa/terraform.tfvars
  terraform/terraform.sh
  terraform/terraform.tf
  terraform/versions.tf
Labels: Infra

#216 correção variáveis ambiente e fix search notificacao
  backend/config/config.js
  backend/src/models/index.js
  backend/src/resource/notificacao-resource.js
  frontend/.env
  frontend/src/main.js
Labels: Back, Front, bug

#248 Correção p não permitir evolução caso confirmado
  backend/src/resource/notificacao-resource.js
Labels: Back, bug
